@import "tailwindcss";

@theme {
  --color-primary-50: #ffffff; /* Main background */
  --color-primary-100: #f5f8ff; /* Lightest tint / table row backgrounds */
  --color-primary-200: #e0ebff; /* Soft background blue */
  --color-primary-300: #eceff2; /* Card backgrounds */
  --color-primary-400: #516778; /* Medium gray text */
  --color-primary-500: #e3e3e3; /* Light gray elements */
  --color-primary-600: #0a0a0a; /* Dark text */
  --color-primary-700: #0057ff; /* Primary blue */
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Inter", sans-serif;
}

/* =====  Scrollbar ===== */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.45);
}

.spinner {
  border-radius: 50%;
  border-style: solid;
  border-color: theme("colors.primary.200");
  border-top-color: theme("colors.primary.600");
  animation: spin 0.8s linear infinite;
}

/* sizes */
.spinner-sm {
  width: 16px;
  height: 16px;
  border-width: 2px;
}

.spinner-md {
  width: 32px;
  height: 32px;
  border-width: 4px;
}

.spinner-lg {
  width: 48px;
  height: 48px;
  border-width: 5px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
  aspect-ratio: 1 / 1;
  min-width: 0;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

@layer utilities {
  .animate-float {
    animation: float 2.5s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
  }

  .hover\:animate-float:hover {
    animation: float 2.5s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
