@import "tailwindcss";

@theme {
  --color-primary-50: #ffffff; /* Main background */
  --color-primary-100: #f5f8ff; /* Lightest tint / table row backgrounds */
  --color-primary-200: #e0ebff; /* Soft background blue */
  --color-primary-300: #eceff2; /* Card backgrounds */
  --color-primary-400: #516778; /* Medium gray text */
  --color-primary-500: #e3e3e3; /* Light gray elements */
  --color-primary-600: #0a0a0a; /* Dark text */
  --color-primary-700: #0057ff; /* Primary blue */
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Inter", sans-serif;
}

/* global.css or tailwind.css */
::-webkit-scrollbar {
  height: 6px; /* horizontal scrollbar thickness */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.spinner {
  margin: 3.2rem auto 1.6rem;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid theme("color-primary-200");
  border-right-color: theme("color-primary-100");
  animation: rotate 1s infinite linear;
}

.spinner-mini {
  width: 1rem; /* 16px */
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid theme("color-primary-200");
  border-right-color: theme("color-primary-100");
  animation: rotate 0.8s infinite linear;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

@layer utilities {
  .animate-float {
    animation: float 2.5s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
  }

  .hover\:animate-float:hover {
    animation: float 2.5s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
